.waring_tips{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  padding: 0 10px;
  justify-content: flex-start;
  align-items: center;
  background-color: #faba7c;
  img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
  p{
    color: #ffffff;
  }
}
.resell_none{
  padding-bottom: 40px;
}
.resell_show_box{
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  &:after{
    position: absolute;
    content: "";
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: scaleY(0.4);
  }
  .left {
    padding: 10px;
    width: 30%;
    .orange_box {
      background-color: #ffb366;
      border-radius: 4px;
      color: #FFFFFF;
      width: 90%;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 56%;
        right: 0;
        width: 100%;
        height: 7%;
        background-image: url("../images/orange_line.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .up {
        height: 60%;
        width: 75%;
        text-align: center;
        padding: 10px 10px 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 12px;
          width: 100%;
          span {
            font-size: 14px;
          }
        }

      }
      .down {
        height: 40%;
        text-align: center;
        padding: 10px 15px 6px 15px;
      }
    }
  }
  .right{
    width: 70%;
    p{
      color: #808080;
      font-size: 16px;
    }
    p:first-child{
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
}
/**输入**/
.in_text{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  &:after{
    position: absolute;
    content: "";
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: scaleY(0.4);
  }
  .left_line,.right_line{
    width: 42%;
    padding: 12px 4%;
    .tittle_name{
      font-size: 12px;
      color: #808080;
    }
    .out_name{
      font-size: 20px;
    }
  }
  .right_line{
    position: relative;
    &:after{
      position: absolute;
      content: "";
      border-left: 1px solid #e5e5e5;
      width: 1px;
      height: 100%;
      bottom: 0;
      left: 0;
      transform: scaleX(0.4);
    }
  }
}
/**选择银行卡**/
.choose_banker{
  color: #808080;
  &:active{
    color: #808080;
  }
  width: 92%;
  padding: 24px 4%;
  display: block;
  text-align: left;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    right: 18px;
    top: 41%;
    transform: rotate(45deg);
    border-top: 1px solid #ababab;
    border-right: 1px solid #ababab;
  }
}

/**获取验证码**/
.phone_code{
  padding: 20px 4%;
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  .left_code{
    background: none;
    font-size: 14px;

    @media screen and (max-width:320px) {
    width: 60%;
  }

    &::placeholder{
      color: #ababab;
      font-size: 14px;
    }
  }
  .right_code_box{
    color: #ffb366;
    padding: 5px 0;
    width: 110px;
    border: 1px solid #ffb366;
    border-radius: 4px;
  }
}

/**底部按钮**/
.resell_bottom_box{
  padding: 25px 5%;
  background: linear-gradient(rgba(242,242,242,0.5),rgba(255,255,255,1));
  width: 90%;
  position: fixed;
  bottom: 0;
  left: 0;

  a{
    display: block;
    color: #FFFFFF;
    width: 100%;
    background-color: #ff8000;
    border-radius: 8px;
    text-align: center;
    padding: 15px 0;
  }

}

.resell_plate {
  margin-bottom: 20px;
}

.resell_bottom_plate {
  padding-bottom: 60px;
}

/*上拉框*/
.frame_drag_up {
  z-index: 99;
}

.frame_drag_up .frame-main {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 1000;
  bottom: 0;
  background-color: #fff;
  display: none;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.frame_drag_up .weui_mask_transition {
  display: none;
  background: transparent;
  -webkit-transition: background .3s;
  transition: background .3s;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
}
.frame_drag_up .mask_drag {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-color: #000;
  opacity: 0;
  z-index: 105;
}


/*上拉银行卡*/

.weui_actionsheet_menu {
  background-color: #fff;
}
   .weui_order {
  background-color: #fff;
}
   .weui_order a {
  color: #4a4a4a;
}
   .weui_order .weui_title {
  border-bottom: 1px solid #d9d9d9;
}
   .weui_order .weui_title>div {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px 10px;
}
   .weui_order .weui_title>div div:first-child,    .weui_order .weui_title>div div:last-child {
  width: 14px;
}
   .weui_order .weui_title>div div:last-child img {
  width: 100%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
   .weui_order .weui_bank_imf {
  padding: 0px 10px;
  position: relative;

     &:last-child {

       &:before {
         display: none;
       }

     }

}
   .weui_order .weui_bank_imf:before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 1px;
  border-top: 1px solid #d9d9d9;
  color: #d9d9d9;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  left: 10px;
}
   .weui_order .weui_bank_imf>div, .weui_add_card>div {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
   .weui_order .weui_cross {
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  margin-right: 5px;
  padding:5px 0px 5px 5px;
}
   .weui_order .zz {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px 0px;
}
   .weui_order .zz>div img {
  width: 55px;
  height: 55px;
}
   .weui_order .zz>div+div div+div span {
  letter-spacing: 2px;
  vertical-align: sub;
}
   .weui_order .weui_choose {
  border: 1px solid #10a6e2;
  -webkit-border-radius: 5px;
  border-radius: 4px;
  padding:0px 6px;
  font-size: 12px;
  color: #10a6e2;
  margin-left:20px;
     white-space: nowrap;
}
   .weui_order .weui_add_card {
  border-bottom: 1px solid #d9d9d9;
}
   .weui_order .weui_add_card>div {
  padding: 15px 10px;
  box-shadow: 0 -1px 3px #e9e9e9;
  -webkit-box-shadow: 0 -1px 3px #e9e9e9;
  -moz-box-shadow: 0 -1px 3px #e9e9e9;
}
   .weui_order .weui_add_card>div div:last-child {
  width: 14px;
}
   .weui_order .weui_add_card>div div:last-child img {
  width: 100%;

}
   .weui_blue{
  color:#10a6e2;
}

   .vip_name {
     display: inline-block;
     margin-left: 20px;
     position: relative;

     &:after {
       position: absolute;
       content: '';
       width: 1px;
       height: 80%;
       top: 10%;
       left: -10px;
       border-left: 1px #ababab solid;
     }

   }


   .payment_list_hide {
  -webkit-transform: translate3d(-110%, 0, 0);
  transform: translate3d(-110%, 0, 0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
   .frame_bank .weui_bank_imf .card_number {
  letter-spacing: 0;
  vertical-align: baseline;
}
   .frame_checkorder .public_popup .list_bottom .list_cell {
  -webkit-box-pack: justify;
}
/*上拉银行卡结束*/

/*iframe*/
#IframeVip {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 6;
  -webkit-transform: translate3d(375px, 0, 0);
  transform: translate3d(375px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition: transform 0.3s;
}
#IframeVip iframe {
  border: 0;
  margin: 0;
  padding: 0;
}

.number_place {
  .right_code_box {
    background-color: #FFFFFF;
  }
}

.grey_button {
  .number_place {
    .right_code_box {
      color: #d4d4d4;
      border: 1px #d4d4d4 solid;
    }
  }
}


.add_line {

  .phone_code {
    background: none;
    box-shadow: none;
  }

}

.result_tips_font {

  p {
    text-align: center;
    margin-bottom: 10px;

    &:first-child {
      font-size: 20px;
      color: #ff8000;
    }

    &:nth-child(2) {
      font-size: 16px;
      color: #4A4A4A;

      span {
        font-size: 18px;
      }

    }

    &:last-child {
      font-size: 16px;
      color: #ababab;
    }

  }

}

.gray_font {
  color: #ababab;
}