
<div class="home_all">


<!--信息板-->

<div class="home_ban">
    <div class="home_number">
        <div class="number_left">
            <p>福利余额</p>
            <p>￥<span>0.00</span></p>
        </div>
        <div class="number_right">
            <p>已兑卡券</p>
            <p><span>99</span>张</p>
        </div>
    </div>
    <a href="#"s class="box_in">
        <div>
            <img src="../../images/card_show.png">
            <p>兑换卡券</p>
        </div>
        <p>查看详情</p>
    </a>
</div>


<div class="card_all_list">

    <!--卡券-->

    <a href="#" class="list_box">
        <div class="left">
            <p>￥<span>1000</span></p>
        </div>
        <div class="right">
            <div>
                <p class="card_name">中国移动话费充值卡</p>
                <p class="card_money">售价：<span>1000</span></p>
            </div>
            <p class="card_go">点击兑换</p>
        </div>
    </a>


    <!--卡券-->

    <a href="#" class="list_box">
        <div class="left">
            <p>￥<span>100</span></p>
        </div>
        <div class="right">
            <div>
                <p class="card_name">中国移动话费充值卡</p>
                <p class="card_money">售价：<span>1000</span></p>
            </div>
            <p class="card_go">点击兑换</p>
        </div>
    </a>


    <!--卡券-->

    <a href="#" class="list_box">
        <div class="left">
            <p>￥<span>1000</span></p>
        </div>
        <div class="right">
            <div>
                <p class="card_name">中国移动话费充值卡</p>
                <p class="card_money">售价：<span>1000</span></p>
            </div>
            <p class="card_go">点击兑换</p>
        </div>
    </a>


    <!--卡券-->

    <a href="#" class="list_box">
        <div class="left">
            <p>￥<span>100</span></p>
        </div>
        <div class="right">
            <div>
                <p class="card_name">中国移动话费充值卡</p>
                <p class="card_money">售价：<span>1000</span></p>
            </div>
            <p class="card_go">点击兑换</p>
        </div>
    </a>


    <!--卡券-->

    <a href="#" class="list_box">
        <div class="left">
            <p>￥<span>1000</span></p>
        </div>
        <div class="right">
            <div>
                <p class="card_name">中国移动话费充值卡</p>
                <p class="card_money">售价：<span>1000</span></p>
            </div>
            <p class="card_go">点击兑换</p>
        </div>
    </a>


    <!--卡券-->

    <a href="#" class="list_box">
        <div class="left">
            <p>￥<span>100</span></p>
        </div>
        <div class="right">
            <div>
                <p class="card_name">中国移动话费充值卡</p>
                <p class="card_money">售价：<span>1000</span></p>
            </div>
            <p class="card_go">点击兑换</p>
        </div>
    </a>

</div>

</div>