<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>明细列表</title>
</head>
<body>


<!--汇卡宝-明细列表-->

<%- include('../../component/detail_list/detail_list.ejs')%>

</body>
</html>