<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交易明细</title>
</head>
<body>


<!--汇卡宝-明细列表-->

<%- include('../../component/detail_list/transaction_details.ejs')%>

<%- include('../../component/basic/loading_compent.ejs')%>

</body>
</html>