<div class="show_loading">
    <div class="loader">
        <div class="loader-inner line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <p>加载中</p>
</div>


<script>


    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('main').className += 'loaded';
    });


</script>