.input_number {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 #ebebeb
}

.number_tips {
  width: 95%;
  color: #4a4a4a;
  font-size: 24px;
  border: 0;
  padding-left: 15px
}

.number_font {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;

  p {
  color: #ababab;
  font-size: 12px;
  padding-left: 20px
}

}

.number_money {
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0 2px 5px 2px #ebebeb;

  .payfor_phone {
    width: 100%;
    padding: 10px 0;
    position: relative;

    &:first-child {

      p {
        font-size: 16px;
        color: #909090;
        padding-left: 15px;
      }

    }

    &:last-child {

      &:after {
        display: none;
      }

    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px #d9d9d9 solid;
      transform: scaleY(0.3);
    }

    p {
      width: 95%;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: wrap;
      flex-flow: wrap;
      font-size: 12px;
      color: #ababab;
      padding-left: 15px;
    }

  }

  .all_fare {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 10px 1% 10px 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px #d9d9d9 solid;
      transform: scaleY(0.3)
    }

    .phone_fare {
      padding: 10px 0;
      width: 25%;
      text-align: center;
      border-radius: 5px;
      border: 1px #d9d9d9 solid;
      margin: 10px 0 10px 6%;
      overflow: hidden;

      .phone_fare_price {
        font-size: 14px;
        color: #ababab;
      }
    }

  }

}

.can_checked {
  border: 1px #ff9d3a solid !important;

  p {
    color: #ff9d3a !important;
  }

}

.checked_orange {
  border: 1px #ff9d3a solid !important;
  position: relative;

  &:before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  background-color: #ff9d3a;
  right: -26px;
  top: -35px;
  -webkit-transform: rotate(46deg);
  transform: rotate(46deg)
}

  &:after {
    position: absolute;
    content: '';
    width: 4px;
    height: 8px;
    right: 4px;
    top: 0;
    border-top: 1px #fff solid;
    border-left: 1px #fff solid;
    -webkit-transform: rotate(-145deg);
    transform: rotate(-145deg)
  }

}

.checked_orange {

  p {
    color: #ff9d3a !important;
  }

}

.customer_service {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 15px 0
}

.customer_service {

  img {
    width: 20px;
    height: 15px
  }

}

.customer_service {

  span {

    &:nth-child(2) {
      font-size: 12px;
      color: #ababab;
      padding-left: 5px
    }

  }

}

.payfor_button {
  padding: 15px
}

.immediately_payfor {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
  background-color: #ff8000;
  display: block;
  border-radius: 8px;
  text-align: center
}

.car_up_font {
  margin: 10px 0;
  font-size: 16px;
  color: #4a4a4a;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.card_down_font {
  margin: 10px 0;
  font-size: 14px;
  color: #ffb366;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
