
<div class="card_in_all">

    <div class="number">

        <span>手机号</span>

        <input type="tel" pattern="[0-9*]" placeholder="请输入手机号">

    </div>


    <div class="card_inf">

        <div class="inf_tittle">充话费</div>

        <div class="money">

            <div class="tab_value">
                <span class="nocards">50元</span>
                <span class="choosed">100元</span>
                <span class="nocards">200元</span>
                <span class="nocards">400元</span>
                <span class="nocards">500元</span>
                <span class="nocards">800元</span>
                <span class="nocards">1000元</span>
            </div>

        </div>

    </div>


    <!--按钮-->
    <div class="payment_operation">

        <p class="hkb_pay_btn_area">
            <a class="pay_success_btn" href="card_success.html">立即充值</a>
        </p>

    </div>


</div>