<div class="detail_list_all">

    <!--列表-->

    <div class="detail_box">
        <div class="left">
            <div>
                <img src="../../images/icon_buy.png">
                <span>购买</span>
            </div>
            <p>订单编号：<span>xxxxx000011</span></p>
            <p>交易日期：<span>2017-12-12</span><span>15:20:12</span></p>
        </div>
        <div class="right">
            <p>￥<span>100.00</span></p>

            <!--颜色：橙色：list_orange;红色list_red；绿色list_green；灰色list_gray；黑色list_black;-->

            <p class="list_green">交易成功</p>
        </div>
    </div>


    <!--列表-->

    <div class="detail_box">
        <div class="left">
            <div>
                <img src="../../images/turn_money.png">
                <span>转卖</span>
            </div>
            <p>订单编号：<span>xxxxx000011</span></p>
            <p>交易日期：<span>2017-12-12</span><span>15:20:12</span></p>
        </div>
        <div class="right">
            <p>￥<span>100.00</span></p>

            <!--颜色：橙色：list_orange;红色list_red；绿色list_green；灰色list_gray；黑色list_black;-->

            <p class="list_orange">交易中</p>
        </div>
    </div>


    <!--列表-->

    <div class="detail_box">
        <div class="left">
            <div>
                <img src="../../images/buy_card.png">
                <span>话费充值</span>
            </div>
            <p>订单编号：<span>xxxxx000011</span></p>
            <p>交易日期：<span>2017-12-12</span><span>15:20:12</span></p>
        </div>
        <div class="right">
            <p>￥<span>100.00</span></p>

            <!--颜色：橙色：list_orange;红色list_red；绿色list_green；灰色list_gray；黑色list_black;-->

            <p class="list_orange">交易中</p>
        </div>
    </div>


</div>

