<div>

    <div class="transaction_details_plate">

        <p><span>三网通话费100元</span><span>10张</span></p>

        <p><span>订单号</span><span>123456</span></p>

        <p><span>2018-06-18 16:56:59</span><span class="orange_font">卡券兑换</span></p>

    </div>

    <div class="transaction_details_plate">

        <p><span>三网通话费100元</span><span>10张</span></p>

        <p><span>订单号</span><span>789098</span></p>

        <p><span>2018-06-18 16:56:59</span><span class="orange_deep_font">油卡兑换</span></p>

    </div>

    <div class="transaction_details_plate">

        <p><span>三网通话费100元</span><span>10张</span></p>

        <p><span>订单号</span><span>123789</span></p>

        <p><span>2018-06-18 16:56:59</span><span class="blue_font">话费卡兑换</span></p>

    </div>

    <div class="transaction_details_plate">

        <p><span>三网通话费100元</span><span>10张</span></p>

        <p><span>订单号</span><span>123456</span></p>

        <p><span>2018-06-18 16:56:59</span><span class="orange_font">卡券兑换</span></p>

    </div>

    <div class="transaction_details_plate">

        <p><span>三网通话费100元</span><span>10张</span></p>

        <p><span>订单号</span><span>789098</span></p>

        <p><span>2018-06-18 16:56:59</span><span class="orange_deep_font">油卡兑换</span></p>

    </div>

    <div class="transaction_details_plate">

        <p><span>三网通话费100元</span><span>10张</span></p>

        <p><span>订单号</span><span>123789</span></p>

        <p><span>2018-06-18 16:56:59</span><span class="blue_font">话费卡兑换</span></p>

    </div>

</div>