
<div class="purchase_all">

    <a href="#" class="purchase_line">

        <img src="../../images/youku.jpg">

        <div class="right_mod">

            <p><span>中国移动</span><span>100元</span><span>话费</span>充值卡</p>

            <p>面额：<span class="list_orange"><span>100</span>￥</span></p>

        </div>

    </a>

    <a href="#" class="purchase_line">

        <img src="../../images/youku.jpg">

        <div class="right_mod">

            <p><span>中国移动</span><span>100元</span><span>话费</span>充值卡</p>

            <p>面额：<span class="list_orange"><span>100</span>￥</span></p>

        </div>

    </a>

    <a href="#" class="purchase_line">

        <img src="../../images/youku.jpg">

        <div class="right_mod">

            <p><span>中国移动</span><span>100元</span><span>话费</span>充值卡</p>

            <p>面额：<span class="list_orange"><span>100</span>￥</span></p>

        </div>

    </a>



</div>