<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>转卖成功</title>
</head>
<body>


<!--汇卡宝-转卖成功-->

<%- include('../../component/resell/resell_success.ejs')%>

</body>
</html>