<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>额度转卖</title>
</head>
<body>


<!--汇卡宝-额度转卖-->

<%- include('../../component/resell/resell.ejs')%>

<script type="text/javascript" src="../../js/hkb_welfare.js"></script>

</body>
</html>