<!--汇卡宝-我的卡包-->


<div class="card_bag_list">

    <!--卡列表-->
    <div class="bank_card_main">

        <div class="bank_card_plate">

            <div class="bank_card_list">
                <p>中国银行</p>

                <p>储蓄卡</p>

                <p>**** **** **** *0189</p>
            </div>
        </div>

        <div class="bank_card_btn">
            <button class="delete_all">删除</button>

            <button class="hide_btn">取消</button>
        </div>

    </div>

    <div class="bank_card_main">

        <div class="bank_card_plate">

            <div class="bank_card_list">
                <p>交通银行</p>

                <p>储蓄卡</p>

                <p>**** **** **** *0189</p>
            </div>
        </div>

        <div class="bank_card_btn">
            <button class="delete_all">删除</button>

            <button class="hide_btn">取消</button>
        </div>

    </div>

    <div class="bank_card_main">

        <div class="bank_card_plate">

            <div class="bank_card_list">
                <p>中国银行</p>

                <p>储蓄卡</p>

                <p>**** **** **** *0189</p>
            </div>
        </div>

        <div class="bank_card_btn">
            <button class="delete_all">删除</button>

            <button class="hide_btn">取消</button>
        </div>

    </div>

    <div class="bank_card_main">

        <div class="bank_card_plate">

            <div class="bank_card_list">
                <p>交通银行</p>

                <p>储蓄卡</p>

                <p>**** **** **** *0189</p>
            </div>
        </div>

        <div class="bank_card_btn">
            <button class="delete_all">删除</button>

            <button class="hide_btn">取消</button>
        </div>

    </div>

    <div class="bank_card_main">

        <div class="bank_card_plate">

            <div class="bank_card_list">
                <p>中国银行</p>

                <p>储蓄卡</p>

                <p>**** **** **** *0189</p>
            </div>
        </div>

        <div class="bank_card_btn">
            <button class="delete_all">删除</button>

            <button class="hide_btn">取消</button>
        </div>

    </div>

    <div class="bank_card_main">

        <div class="bank_card_plate">

            <div class="bank_card_list">
                <p>交通银行</p>

                <p>储蓄卡</p>

                <p>**** **** **** *0189</p>
            </div>
        </div>

        <div class="bank_card_btn">
            <button class="delete_all">删除</button>

            <button class="hide_btn">取消</button>
        </div>

    </div>

</div>

<div>
    <div class="add_card_plate">
        <a href="#" class="add_bank_card">+ 添加</a>
    </div>

    <div class="add_card_empty"></div>
</div>


<script>

    bankCard.actionCard();

    //点击删除，删除当前银行卡
   //var deltetCard=document.getElementsByClassName('delete_all');

    //for (var i=0;i<deltetCard.length;i++) {

        //deltetCard[i].addEventListener('click',function () {

            //var noneCard=this.parentNode.parentNode;

            //console.log(noneCard)

            //document.getElementsByClassName('card_bag_list')[0].removeChild(noneCard);

        //},false)

    //}

</script>