.show_box{
  margin: 4%;
  padding: 4% 4% 0 4%;
  width: 84%;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  .show_img {
    width: 100%;
    height: calc(~"100vw/623*208");
    background-image: url("../images/show_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .show_left, .show_right {
      width: 45%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 20px;
        color: #FFFFFF;
        span {
          font-size: 50px;
        }
      }
    }
    .show_left{
      position: relative;
      &:after {
        position: absolute;
        content: "";
        border-right: 2px solid #ffffff;
        width: 1px;
        height: 70%;
        bottom: 15%;
        right: 0;
        transform: scaleX(0.4);
      }
    }
    .show_right {
      width: 55%;
      color: #FFFFFF;
      font-size: 20px;
    }
  }
  /**数量**/
  .shop_num {
    margin-top: 10px;
    padding: 5px 2.5% 0 2.5%;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 2.5%;
      top: 0;
      width: 95%;
      border-bottom: solid 1px #e5e5e5;
      transform: scaleY(0.4);
    }
    .add_num_area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 5px;
    }
    .num_area {
      padding: 5px 0;
      //border: 1px solid #ddd;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      > button {
        border: 0;
        //margin: 5px 0;
        width: 30px;
        text-align: center;
        background-color: transparent;
        font-size: 25px;
        color: #808080;
        outline: none;
        &:first-child {
          border-right: 1px solid #ddd;
          padding-right: 4px;
        }
        &:last-child {
          border-left: 1px solid #ddd;
          padding-left: 4px;
        }
      }
      > input {
        border: 0;
        background-color: transparent;
        text-align: center;
        width: 60px;
        color: #808080;
        font-size: 18px;
      }
    }
  }
}
/**详细信息**/
.detail_text{
  margin: 4%;
  padding: 4%;
  width: 84%;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  p{
    color: #808080;
    font-size: 14px;
  }
}
.bar{
  width: 100%;
  padding-bottom: 99px;
}
  /**底部按钮**/
  .bottom_btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    .bottom{
      height: 55px;
      .fixed_buy_btn{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        .price{
          font-size: 14px;
          flex: 2;
          height: 55px;
          background: white;
          color: #ff8000;
          padding-left: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          .up{
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            p,span{
              font-size: 14px;
              span{
                font-size: 24px;
              }
            }
          }
          .down{
            height: 40%;
            color: #909090;
            font-size: 12px;
          }
        }
        .gray_check_buy{
          height: 55px;
          display: inline-block;
          color: white;
          background: #e5e5e5;
          flex: 1.5;
          text-align: center;
          font-size: 18px;
          line-height: 55px;
          &:active{
            color: hsla(0,0%,100%,.4);
            background-color: #8a8a8a
          }
        }
      }
    }
  }

.bottom_btn .bottom .fixed_buy_btn .check_buy{
  height: 55px;
  display: inline-block;
  color: white;
  background: #ff8000;
  flex: 1.5;
  text-align: center;
  font-size: 18px;
  line-height: 55px;
  &:active{
    color: hsla(0,0%,100%,.4);
    background-color: #ea7500
  }
}
.agreement{
  text-align: center;
  line-height: 44px;
  height: 44px;
  label{
    padding: 10px 0;
    input{
      appearance:none;
      width: 16px;
      height: 16px;
      border: solid 1px #ddd;
      margin-right: 5px;
      vertical-align: text-top;
      background: #fff;
      position: relative;
      top: 1px;
      border-radius:3px;
      outline: none;
      &:checked:after{
        content: "";
        position: absolute;
        display: block;
        width: 6px;
        height: 10px;
        left: 4px;
        top: 0;
        border-bottom: solid 1px #ff8000;
        border-right: solid 1px #ff8000;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  a{
    color: #ff8000;
    &:active{
      opacity: 0.6;
    }
  }
}

/******协议弹框******/
.buy_agreement_bgd {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .3;
  position: absolute;
  top: 0;
  z-index: 1006;
  display: none
}

.buy_agreement_plate {
  position: fixed;
  width: 90%;
  height: 95%;
  background-color: #fff;
  z-index: 1008;
  top: 2.5%;
  left: 5%;
  border-radius: 10px;
  overflow: hidden;
  display: none
}

.buy_agreement_top {
  background-color: #ff8000;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.agreement_top_font {
  color: #fff;
  font-size: 16px
}

.agreement_close_btn {
  width: 25px;
  height: 25px;
  border: 1px #fff solid;
  text-align: center;
  line-height: 25px;
  color: #fff;
  background: 0;
  border-radius: 50%
}

.buy_agreement_text {
  margin: 15px;
  height: 90%;
  overflow: auto;
  margin-bottom: 0;

  h4 {
    text-align: center;
    color: #4a4a4a;
    font-size: 16px
  }

  p {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px
  }

}

.show_buy_agreement {
  display: block
}

.show_img_left {
  width: 46%;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0 2%;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 180%;
    right: 0;
    top: -40%;
    border-right: 1px #FFFFFF solid;
    transform: scaleX(0.5);
  }

  span {
    font-size: 34px;
  }

}

.show_img_right {
  width: 46%;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0 2%;
}