

<!--卡包-->

<div class="card_bag_list">

    <div class="list_line">

        <div class="list_text">

            <p>话费卡列表</p>

        </div>

        <!------展开内容------->

        <div class="claims_things_detail">

            <!--详情盒子-->

            <div class="detail_all">

                <div class="up">

                    <img src="../../images/youku.jpg" class="detail_left">

                    <div class="detail_center">

                        <p>XXX充值卡</p>

                        <div>

                            <p>面额：<span>100</span></p>

                            <p>X<span>10</span></p>

                        </div>

                        <p>未使用额度：￥<span>1000.00</span></p>

                    </div>

                    <a class="detail_right" href="#">

                        <img src="../../images/pay_icon.png">

                        <p>转卖换钱</p>

                    </a>

                </div>

                <div class="down">

                   <a href="../detail_list/detail_list.html"><p>卡明细</p></a>

                   <a><p>去充值</p></a>

                </div>

            </div>

            <!--详情盒子-->

            <div class="detail_all">

                <div class="up">

                    <img src="../../images/youku.jpg" class="detail_left">

                    <div class="detail_center">

                        <p>XXX充值卡</p>

                        <div>

                            <p>面额：<span>100</span></p>

                            <p>X<span>10</span></p>

                        </div>

                        <p>未使用额度：￥<span>1000.00</span></p>

                    </div>

                    <a class="detail_right" href="#">

                        <img src="../../images/pay_icon.png">

                        <p>转卖换钱</p>

                    </a>

                </div>

                <div class="down">

                    <a href="../detail_list/detail_list.html"><p>卡明细</p></a>

                    <a><p>去充值</p></a>

                </div>

            </div>

        </div>
    </div>


    <div class="list_line">

        <div class="list_text">

            <p>视频卡卷列表</p>


        </div>

        <!------展开内容------->

        <div class="claims_things_detail">

            <!--详情盒子-->

            <div class="detail_all">

                <div class="up">

                    <img src="../../images/youku.jpg" class="detail_left">

                    <div class="detail_center">

                        <p>XXX充值卡</p>

                        <div>

                            <p>面额：<span>100</span></p>

                            <p>X<span>10</span></p>

                        </div>

                        <p>未使用额度：￥<span>1000.00</span></p>

                    </div>

                    <a class="detail_right" href="#">

                        <img src="../../images/pay_icon.png">

                        <p>转卖换钱</p>

                    </a>

                </div>

                <div class="down">

                    <a href="../detail_list/detail_list.html"><p>卡明细</p></a>

                    <a><p>去充值</p></a>

                </div>

            </div>

        </div>



    </div>




</div>


<script>

    //点击保项展开，收起
    hideDetail.blockDetail()

</script>