.card_bag_list {
  width: 92%;
  margin: 4%;
  .card_box {
    margin-top: 10px;
    width: 100%;
    height: 125px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .left {
      padding: 10px;
      width: 30%;
      .orange_box {
        background-color: #ffb366;
        border-radius: 4px;
        color: #FFFFFF;
        width: 100%;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 60%;
          right: 0;
          width: 100%;
          height: 7%;
          background-image: url("../images/orange_line.png");
          background-size: 100%;
          background-repeat: no-repeat;
        }
        .up {
          height: 60%;
          width: 75%;
          text-align: center;
          padding: 10px 10px 5px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            font-size: 12px;
            width: 100%;
            span {
              font-size: 26px;
            }
          }

        }
        .down {
          height: 40%;
          text-align: center;
          padding: 10px 15px 6px 15px;
        }
      }
    }
    .right {
      width: 66%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      flex-direction: column;
      .up {
        width: 92%;
        padding-right: 8%;
        height: 60%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 10px;
        position: relative;
        color: #4a4a4a;
        p:first-child{
          font-size: 14px;
          color: #4A4A4A;
        }
        p:last-child{
          font-size: 12px;
          color: #808080;
        }
        &:after {
          position: absolute;
          content: "";
          border-bottom: 1px solid #e5e5e5;
          width: 95%;
          height: 1px;
          bottom: 0;
          right: 5%;
          transform: scaleY(0.4);
        }
      }
      .down {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40%;
        color: #808080;
        .down_left, .down_right {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #808080;
          &:active{
            color: #808080;
          }
          img {
            width: 20px;
            height: 20px;
            margin-left: 6px;
          }
        }
        .down_right{
          position: relative;
          &:after {
            position: absolute;
            content: "";
            border-left: 1px solid #e5e5e5;
            width: 1px;
            height: 90%;
            bottom: 5%;
            left: 0;
            transform: scaleX(0.4);
          }
        }
      }
    }
  }
}