.card_bag_list {

  background: #ffffff;

  margin-bottom: 10px;

  padding-bottom: 10px;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);

  .tittle {

    text-align: center;

    width: 100%;

    font-size: 14px;

    color: #10a6e2;

    display: block;

    line-height: 50px;

    margin-bottom: 10px;

    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      border-bottom: 1px #DDDDDD solid;
      transform: scaley(.3);
    }

  }

  .list_line {

    .list_text {

      display: flex;

      justify-content: space-between;

      align-items: center;

      padding: 10px 15px;

      position: relative;

      &:after {
        position: absolute;
        content: '';
        border-bottom: 2px solid #808080;
        border-right: 2px solid #808080;
        right: 20px;
        bottom: 45%;
        width: 10px;
        height: 10px;
        opacity: .8;
        border-bottom-right-radius: 4px;
        transform: rotate(45deg);
      }

      p {

        font-size: 14px;

        color: #4A4A4A;

      }

    }

    .list_text_r {

      &:after {

        right: 20px;
        top: 45%;

        transform: rotate(225deg);
      }
    }

    /*展开内容*/

      .claims_things_detail {

        transition: all .5s linear;

        position: relative;

        overflow: hidden;

        height: 0px;

      }

      .detail_all {

        padding: 15px 15px;

        display: flex;

        flex-direction: column;

        justify-content: space-between;

        align-items: flex-start;

        position: relative;

        background-color: #fbfbfb;

        &:after {
          position: absolute;
          content: '';
          width: 95%;
          height: 1px;
          left: 2.5%;
          bottom: 0;
          border-bottom: 1px #DDDDDD solid;
          transform: scaley(.3);
        }

        &:last-child:after {

          border-bottom: none;

        }

        &:nth-child(n) {

          background-color: #fbfbfb;

        }

        &:nth-child(2n) {

          background-color: #f7f7f7;

        }

        a {

          color: #4A4A4A;

        }

        .up{

          width: 100%;

          display: flex;

          justify-content: space-between;

          align-items: center;

          .detail_left {

            width: 80px;

            height: 80px;

          }

          .detail_center{

            margin-left: 10px;

            font-size: 14px;

            width: calc(100vw);

            display: flex;

            flex-direction: column;

            justify-content: space-between;

            align-items: flex-start;

            div{

              width: 70%;

              display: flex;

              justify-content: space-between;

              align-items: center;

              p{

                font-size: 14px;

              }

            }

          }

          .detail_right {

            width: 55%;

            display: flex;

            flex-direction: column;

            justify-content: space-between;

            align-items: center;

            img{

              width: 26px;

              height: 26px;

            }

            p{

              margin-top: 4px;

              font-size: 12px;

            }

            a{

              border: 1px solid #dddddd;

              padding: 4px 5px;

            }

          }

        }

        .down{

          width: 95%;

          display: flex;

          justify-content: space-between;

          align-items: center;

          padding:  15px 2.5% 0 2.5%;

          margin:  10px 0 0 0;

          border-top: 1px solid #DDDDDD;

          a:first-child{

            width: 60%;

          }

          a:last-child{

            padding: 4px 12px;

            border: 1px solid #ff8000;

            color: #ff8000;

            font-size: 12px;

            border-radius: 5px;

            text-align: center;


          }

        }

      }

    }

    .block_claims_things_detail {

      // 6p、7p、8p尺寸

      .claims_things_detail {

        height: 170px;

        overflow: auto;

        transition: height .5s linear;

        // 6、7、8尺寸；

        @media screen and(max-width: 375px) {

          height: 170px;

          overflow: auto;

          transition: all .5s linear;
        }

        //5s尺寸；

        @media screen and(max-width: 320px) {

          height: 210px;

          overflow: auto;

          transition: all .5s linear;
        }

      }

    }

  }

  .claims_none_box {

    width: 100%;

    height: 50px;

  }

  .claims_bottom_box {

    position: fixed;

    bottom: 0;

    left: 0;

    padding: 10px 0;

    background-color: #FFFFFF;

    width: 100%;

    display: flex;

    justify-content: space-between;

    align-items: center;

    color: #4A4A4A;

    span {

      margin-left: 15px;

    }

    a {

      text-align: center;

      line-height: 24px;

      margin-right: 15px;

      color: #10a6e2;

      width: 80px;

      height: 24px;

      border: 1px solid #10a6e2;

      border-radius: 4px;

    }

  }

/*状态更换颜色*/

.list_box .list_line .detail_all .detail_left .detail_text_down .claims_state_gray{

  background-color: #808080;

  box-shadow: 0 2px 4px 0 #5f5f5f;


}




