<div class="confirm_order_all">

    <div class="confirm_detail">

        <div class="tittle">商品信息</div>

        <div class="purchase_line">

            <img src="../../images/youku.jpg">

            <div class="right_mod">

                <p><span>中国移动</span><span>100元</span><span>话费</span>充值卡</p>

                <div>

                    <p>面额：<span class="list_orange"><span>100</span>￥</span></p>

                    <p class="many_num">x2</p>

                </div>

            </div>

        </div>

        <div class="pay_money">

            <p class="">代付金额：</p>

            <p>￥<span>200.00</span>元</p>

        </div>

    </div>

    <div class="pay_detail">

        <div class="tittle">支付方式</div>

        <label class="choose_line" for="radio-1-2">

            <div class="choose_icon">

                <img src="../../images/pay_icon.png">

                <p>汇卡宝福利账户</p>

            </div>

            <input type="radio" id="radio-1-2" name="radio-1-set" class="regular-radio" checked><label for="radio-1-2"></label>

        </label>

    </div>


    <div class="bottom_box">

        <a href="#">确认支付</a>

    </div>

</div>