<div class="none_card_plate">
    <div class="none_card_img">
        <img src="../../images/icon_none_card.png">
    </div>
</div>

<p class="none_card_tips">您还没有卡券，卡券可通过<a href="#" class="change_html">兑换</a>获得</p>