<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>确认订单</title>
</head>
<body>


<!--汇卡宝-确认订单-->


<%- include('../../component/card_show/confirm_order.ejs')%>

</body>
</html>