<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的卡包</title>
</head>
<body>


<!--汇卡宝-我的卡包-->


<%- include('../../component/card_show/none_card.ejs')%>

<script type="text/javascript" src="../../js/hkb_welfare.js"></script>

</body>
</html>