<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购卡成功</title>
</head>
<body>


<!--汇卡宝-购卡成功-->


<%- include('../../component/card_show/pay_success.ejs')%>

</body>
</html>